<div class = "header">
	
	<div class = "logo">
		<%= image_tag("logo.png", :alt => "E-Attire") %>
	</div>
	
	<div class="nav">
		<ul>
			<li><%= link_to "Dashboard", "/" %></li>
			<li><%= link_to "Categories", "/categories" %></li>
			<li><%= link_to "Occasions", "#" %></li>
			<li><%= link_to "Products", "#" %></li>
			<li><%= link_to "Images", "#" %></li>
			<li><%= link_to "Sizes", "#" %></li>
		</ul>
	</div>
</div>







